@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap");

:root {
  --color-bg: #8bb;
  --color-accent: #b20;
  --color-link: #e72;
  --color-hover: #fa2;
  --text-color: #111;
  --header-bg: #333;
  --header-text: #fff;
  --shadow: 3px 1px 5px rgba(0, 0, 0, 0.25);
}

body.dark-mode {
  --color-bg: #334;
  --color-accent: #e16;
  --color-link: #f77;
  --color-hover: #fb4;
  --text-color: #eee;
}

body.dark-mode .div-header {
  background-color: #011;
}

body.dark-mode .div-sidebar {
  background-color: #122;
}

body.dark-mode .div-content {
  background-color: #233;
}

body.dark-mode a {
  color: var(--color-link);
}

body.dark-mode a:hover {
  color: var(--color-hover);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  line-height: 1.33;
  text-wrap: pretty;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

body {
  background-color: var(--color-bg);
  color: var(--text-color);
  padding: 1rem;
  min-height: 100vh;
}

.background-image-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 38.2vh;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.background-image-wrapper img {
  height: 100%;
  min-width: 100%;
  object-fit: cover;
  object-position: top center;
  opacity: 25%;
}

h1,
h2,
a {
  font-weight: 600;
}

h1,
h2,
h3,
p,
li {
  margin-left: 1.2rem;
  margin-right: 1.2rem;
}

a {
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  color: var(--color-hover);
  text-decoration: underline;
}

h1 {
  font-size: 2em;
  margin-bottom: 0.85rem;
}

h2 {
  font-size: 21px;
  margin-bottom: 0.75rem;
  position: relative;
}

h2::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, var(--color-accent), transparent);
}

h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0.33rem;
}

ul {
  list-style-type: square;
  padding-left: 20px;
  margin-bottom: 20px;
}

li {
  font-size: 18px;
  margin-bottom: 5px;
}

p {
  font-size: 21px;
  line-height: 1.5;
  max-width: 70ch;
  text-wrap: balance;
  margin-bottom: 1.33rem;
}

.parent {
  height: calc(100vh - 32px); /* 16px padding top & bottom */
  display: grid;
  grid-template-columns: 5fr 8fr;
  grid-template-rows: auto 1fr;
  gap: 16px;
  margin: 0 auto;
  min-width: 61.8%;
  width: 80%;
  max-width: 1500px;
}

.div-header,
.div-sidebar,
.div-content {
  box-shadow: var(--shadow);
  padding: 20px;
}

.div-header {
  grid-area: 1 / 1 / 2 / 3;
  background-color: var(--header-bg);
  color: var(--header-text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.div-sidebar,
.div-content {
  height: 100%;
  overflow-y: auto;
}

.div-sidebar {
  background-color: #dcc;
}

.div-content {
  background-color: #fee;
}

.theme-toggle-container {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1000;
}

#theme-toggle {
  color: #eee;
  background-color: var(--color-accent);
  border: none;
  padding: 5px 10px;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: var(--shadow);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
}

/* mobile */
@media (max-width: 768px) {
  .parent {
    height: auto;
    min-width: auto;
    width: auto;
    display: block;
  }
  .parent > * {
    margin-bottom: 16px;
  }
  .parent > *:last-child {
    margin-bottom: 0;
  }
  .div-header,
  .div-sidebar,
  .div-content {
    grid-area: auto;
    width: 100%;
  }
}
